.textHead {
    font-size: 36px;
    line-height: 54px;
    color: white;
}
.textHead-mobile {
    font-size: 30px
}
.textHeadB {
    font-size: 36px;
    line-height: 54px;
    color: black;
}
.textHeadB:hover {
    font-size: 36px;
    line-height: 54px;
    color: #006738;
    font-weight: bold;
    text-decoration: underline;
}
/*.textHeadG {*/
/*    font-size: 36px;*/
/*    line-height: 54px;*/
/*    color: #006738;*/
/*}*/
.textTopic {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
}
#customer-table {
    width: 100%;
    border-radius: 3px;
    border-bottom: 4px solid #BDBDBD;
    border-right: white;
}
#customer-table td, #customer-table th {
    border: 1px solid #C4C4C4;
    padding: 9px;
    border-left: white;
    font-size: 16px;

}
#customer-table th {
    border: 1px solid #FFFFFF;
    background-color:  #EEEEEE;
    color: #006738;
    text-align: center;
    border-bottom: 4px solid #BDBDBD;
    border-top: 4px solid #BDBDBD;
}
.card13 {
    width: 520px;
    height: 500px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.card24 {
    width: 520px;
    height: 500px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

}
.textCard {
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
}
.v-list-item .v-list-item__title {
    text-align: center;
}
.nav li{
    display: inline-block;
    /*margin-right: 2%;*/
}
.sizeChart{
    max-width: 500px;
    max-height: 230px;
}



