<template>
    <v-content pa-0>
        <Header></Header>
        <loading :active.sync="isLoading" :is-full-page="true"></loading>
        <v-layout justify-center style="background-color: #006738; text-align: center" >
            <v-flex xs10 lg8 py-3
                    class="textHead"
                    :class="{'textHead-mobile': $vuetify.breakpoint.smAndDown }"
            >วิเคราะห์จุดเสี่ยง กทม.</v-flex>
        </v-layout>
        <!-- Layout -->
        <v-layout justify-center>
            <v-flex xs10 sm10 md8 lg8>
                <v-layout row justify-center >
                    <v-flex style="max-width: 286px" pa-1>
                        <!-- Select Day -->
                        <v-layout style="text-align: center">
                            <v-flex class="textTopic pt-3 mb-3">
                                เลือกช่วงวัน
                            </v-flex>
                        </v-layout>
                        <v-layout justify-center>
                            <v-flex>
                                <v-menu
                                        ref="menu"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        max-width="290px"
                                        min-width="290px"
                                >
                                    <template v-slot:activator="{ on }">
                                        <v-text-field
                                                outlined
                                                dense
                                                style="max-width: 120px; border-radius: 5px"
                                                placeholder="2016-01-01"
                                                v-on="on"
                                                v-model="start_date" :max="end_date"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker v-model="start_date" :max="end_date" no-title @input="menu = false" locale="th-th"></v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex class="textTopic pt-3 mx-2">
                                ถึง
                            </v-flex>
                            <v-flex>
                                <v-menu
                                        ref="menu"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        max-width="290px"
                                        min-width="290px"
                                        data-date-language="th-th"
                                >
                                    <template v-slot:activator="{ on }">
                                        <v-text-field
                                                outlined
                                                dense
                                                style="max-width: 120px; border-radius: 5px"
                                                :placeholder="date| moment('YYYY-MM-DD')"
                                                v-on="on"
                                                v-model="end_date" :min="start_date"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker v-model="end_date" :min="start_date" no-title @input="menu = false"  locale="th-th"></v-date-picker>
                                </v-menu>
                            </v-flex>
                        </v-layout>
                    </v-flex>
<!--                    <v-flex md4 pa-1>-->
                        <!-- Select time -->
<!--                        <v-layout style="text-align: center">-->
<!--                            <v-flex class="textTopic mb-3" :class="{'pt-3': $vuetify.breakpoint.smAndUp }">-->
<!--                                เลือกช่วงเวลา-->
<!--                            </v-flex>-->
<!--                        </v-layout>-->
<!--                        <v-layout justify-center >-->
<!--                            <v-flex shrink>-->
<!--                                <v-menu-->
<!--                                        ref="menu"-->
<!--                                        v-model="menu"-->
<!--                                        :close-on-content-click="false"-->
<!--                                        :nudge-right="40"-->
<!--                                        transition="scale-transition"-->
<!--                                        offset-y-->
<!--                                        max-width="290px"-->
<!--                                        min-width="290px"-->
<!--                                >-->
<!--                                    <template v-slot:activator="{ on }">-->
<!--                                        <v-text-field-->
<!--                                                outlined-->
<!--                                                dense-->
<!--                                                style="max-width: 120px; border-radius: 5px"-->
<!--                                                v-model="start_time" :max="end_time"-->
<!--                                                readonly-->
<!--                                                v-on="on"-->
<!--                                                placeholder="00:00"-->
<!--                                        ></v-text-field>-->
<!--                                    </template>-->
<!--                                    <v-time-picker-->
<!--                                            format="24hr"-->
<!--                                            v-if="menu"-->
<!--                                            v-model="start_time" :max="end_time"-->
<!--                                            full-width-->
<!--                                            color="#006738"-->
<!--                                            header-color="#006738"-->
<!--                                    ></v-time-picker>-->
<!--                                </v-menu>-->
<!--                            </v-flex>-->
<!--                            <v-flex shrink class="textTopic pt-3 mx-2">-->
<!--                                ถึง-->
<!--                            </v-flex>-->
<!--                            <v-flex shrink>-->
<!--                                <v-menu-->
<!--                                        ref="menu"-->
<!--                                        v-model="menu2"-->
<!--                                        :close-on-content-click="false"-->
<!--                                        :nudge-right="40"-->
<!--                                        transition="scale-transition"-->
<!--                                        offset-y-->
<!--                                        max-width="290px"-->
<!--                                        min-width="290px"-->
<!--                                >-->
<!--                                    <template v-slot:activator="{ on }">-->
<!--                                        <v-text-field-->
<!--                                                outlined-->
<!--                                                dense-->
<!--                                                style="max-width: 120px; border-radius: 5px"-->
<!--                                                v-model="end_time" :min="start_time"-->
<!--                                                readonly-->
<!--                                                v-on="on"-->
<!--                                                placeholder="23:59"-->
<!--                                        ></v-text-field>-->
<!--                                    </template>-->
<!--                                    <v-time-picker-->
<!--                                            v-if="menu2"-->
<!--                                            format="24hr"-->
<!--                                            v-model="end_time" :min="start_time"-->
<!--                                            full-width-->
<!--                                            color="#006738"-->
<!--                                            header-color="#006738"-->
<!--                                    ></v-time-picker>-->
<!--                                </v-menu>-->
<!--                            </v-flex>-->
<!--                        </v-layout>-->
<!--                    </v-flex>-->
                    <!-- How much Die -->
                    <v-flex style="max-width: 286px" pa-1>
                        <!-- Select Die -->
                        <v-layout style="text-align: center">
                            <v-flex class="textTopic mb-3" :class="{'pt-3': $vuetify.breakpoint.smAndUp }">
                                จำนวนผู้เสียชีวิต
                            </v-flex>
                        </v-layout>
                        <v-layout justify-center>
                            <v-flex>
                                <v-select
                                        outlined
                                        dense
                                        style="max-width: 120px; border-radius: 5px"
                                        menu-props="offsetY"
                                        :items="manydieA ? manydieA:manydie"
                                        v-model="start_die"
                                        @change="Selectmin"
                                ></v-select>
                            </v-flex>
                            <v-flex class="textTopic pt-3 mx-2">
                                ถึง
                            </v-flex>
                            <v-flex>
                                <v-select
                                        outlined
                                        dense
                                        style="max-width: 120px; border-radius: 5px"
                                        menu-props="offsetY"
                                        :items="manydieB ? manydieB:manydie"
                                        v-model="end_die"
                                        @change="Selectmax"
                                ></v-select>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex style="max-width: 286px" pa-1>
                        <v-layout style="text-align: center">
                            <v-flex class="textTopic mb-3" :class="{'pt-3': $vuetify.breakpoint.smAndUp }">
                                เขต
                            </v-flex>
                        </v-layout>
                        <v-layout justify-center>
                            <v-flex>
                                <v-select
                                        outlined
                                        dense
                                        style="width: 280px"
                                        menu-props="offsetY"
                                        :items="fieldbangkok"
                                        v-model="selectedDistrict"
                                        placeholder="ดูทั้งหมด"
                                        :style="$vuetify.breakpoint.smAndUp ? {'width':'280px'}:{'width':'200px'}"

                                ></v-select>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
                <!-- Select Area -->
<!--                <v-layout justify-center mb-3>-->
<!--                    <v-flex :class="{'xs10': $vuetify.breakpoint.xs}">-->
<!--                        <div class="textTopic mb-2">จังหวัด</div>-->
<!--                        <v-select-->
<!--                                label="กรุงเทพมหานคร"-->
<!--                                menu-props="offsetY"-->
<!--                                :items="allRiskpoint.data"-->
<!--                                item-text="name_riskpoint"-->
<!--                                item-value="id"-->
<!--                                @change="onselect"-->
<!--                                outlined-->
<!--                                style="max-width: 270px"-->
<!--                                dense-->
<!--                        ></v-select>-->
<!--                    </v-flex>-->
<!--                </v-layout>-->
                <v-layout row style="text-align: center">
<!--                    <v-flex md4 pa-1>-->
<!--                        <v-layout style="text-align: center">-->
<!--                            <v-flex class="textTopic mb-3">-->
<!--                                เขต-->
<!--                            </v-flex>-->
<!--                        </v-layout>-->
<!--                        <v-layout justify-center>-->
<!--                            <v-flex shrink>-->
<!--                                <v-select-->
<!--                                        outlined-->
<!--                                        dense-->
<!--                                        style="width: 280px"-->
<!--                                        menu-props="offsetY"-->
<!--                                        :items="fieldbangkok"-->
<!--                                        v-model="selectedDistrict"-->
<!--                                        placeholder="ดูทั้งหมด"-->
<!--                                        :style="$vuetify.breakpoint.smAndUp ? {'width':'280px'}:{'width':'200px'}"-->
<!--                                ></v-select>-->
<!--                            </v-flex>-->
<!--                        </v-layout>-->
<!--                    </v-flex>-->
                    <v-flex md12 mb-7>
                        <v-btn
                                dark
                                style="background-color: #006738"
                                @click="onSearch()"
                        >ค้นหา</v-btn>
                    </v-flex>
                    <v-flex md4></v-flex>
                </v-layout>
                <v-layout row justify-center mb-4>
                    <v-flex style="max-width: 286px" pa-1>
                        <v-layout justify-center>
                            <v-btn
                                    style="width: 276px"
                                    outlined
                                    class="textTopic"
                                    @click="onGmapmarker()"
                            >แผนที่จุดเสี่ยง</v-btn>
                        </v-layout>
                    </v-flex>
                    <v-flex style="max-width: 286px" pa-1>
                        <v-layout justify-center>
                            <v-btn style="width: 276px"
                                   outlined class="textTopic"
                                   @click="onGmapcluster()"
                            >แผนที่จุดเสี่ยงแบบ Heat Map</v-btn>
                        </v-layout>
                    </v-flex>
                    <v-flex style="max-width: 286px" pa-1>
                        <v-layout justify-center>
                            <v-btn
                                    style="width: 276px"
                                    outlined
                                    class="textTopic"
                                    @click="onAllriskpointcluster()"
                            >แผนที่จุดเกิดเหตุแบบ Heat Map</v-btn>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
        <v-layout justify-center>
            <v-flex xs12 sm10>
                <!-- Google Map -->
                <v-layout justify-center style="margin-bottom: 2%">
                    <v-flex :class="{'xs10': $vuetify.breakpoint.xs}" class="mb-5">
                        <GmapMap
                                v-if="ongmap == 1"
                                :center="{lat:onlet, lng:onlng}"
                                :zoom="zoomsize"
                                map-type-id="terrain"
                                style="width: 100%;box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);"
                                :style="$vuetify.breakpoint.mdAndUp ? {'height':'800px'}:{'height':'400px'}"
                        >
                            <gmap-marker
                                    :key="index"
                                    v-for="(item,index) in allRiskpoint"
                                    :icon="icongmarker[item.summary_riskpoint - 1]"
                                    :position="{lat:+(item.latitude_center), lng:parseFloat(item.longitude_center)}"
                                    :clickable="true"
                                    :draggable="false"
                                    @click="onTable(item.id,item.name_riskpoint,item.latitude_center,item.longitude_center)"
                            ></gmap-marker>
<!--                                <cluster >-->
<!--                                    <gmap-custom-marker-->
<!--                                            :key="index"-->
<!--                                            v-for="(item,index) in allRiskpoint"-->
<!--                                            :marker="{lat:+(item.latitude_center), lng:parseFloat(item.longitude_center)}"-->
<!--                                            :clickable="true">-->
<!--                                    </gmap-custom-marker>-->
<!--                                </cluster>-->

                        </GmapMap>
                        <GmapMap
                                v-if="ongmap == 2"
                                :center="{lat:onlet, lng:onlng}"
                                :zoom="zoomsize"
                                map-type-id="terrain"
                                style="width: 100%;box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);"
                                :style="$vuetify.breakpoint.mdAndUp ? {'height':'800px'}:{'height':'400px'}"
                        >
                            <cluster>
                                <gmap-marker
                                        :key="index"
                                        v-for="(item,index) in allRiskpoint"
                                        :position="{lat:+(item.latitude_center), lng:parseFloat(item.longitude_center)}"
                                        :draggable="false"
                                        @click="onTable(item.id,item.name_riskpoint,item.latitude_center,item.longitude_center)"
                                ></gmap-marker>
                            </cluster>
                        </GmapMap>
                        <GmapMap
                                v-if="ongmap == 3"
                                :center="{lat:onlet, lng:onlng}"
                                :zoom="zoomsize"
                                map-type-id="terrain"
                                style="width: 100%;box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);"
                                :style="$vuetify.breakpoint.mdAndUp ? {'height':'800px'}:{'height':'400px'}"
                        >
                            <cluster>
                                <gmap-marker
                                        :key="index"
                                        v-for="(item,index) in allPoint"
                                        :position="{lat:+(item.acc_lat), lng:parseFloat(item.acc_long)}"
                                        :draggable="false"
                                        @click="openWindow(item.acc_lat,item.acc_long,item.sex,item.age,item.car_band,item.acc_subdist,item.acc_dist,item.acc_date,item.acc_time)"
                                ></gmap-marker>
                                <gmap-info-window
                                        @closeclick="window_open=false"
                                        :opened="window_open"
                                        :position="infowindow"
                                        :options="{pixelOffset: {width: 0,height: -35}}"
                                >
                                    <div class="card pa-1">
                                        <div style="font-weight: bold;width: 100%;text-align: center;font-size: 16px" >
                                            จุดเสี่ยงเขต {{Acc_dist}}
                                        </div>
                                        <!--                            <div class="row">-->
                                        <!--                                <div class="col-md-4"><span style="font-weight: bold"></span></div>-->
                                        <!--                            </div>-->
                                        <div class="ma-2">
                                            <div class="row" style="margin-top: -5px">
                                                <label style="font-weight: bold" class="col-sm-2">ลำดับ:</label>
                                                <div class="col-sm-4">{{No ? (No):'-'}}</div>
                                                <label style="font-weight: bold;text-align: right"  class="col-sm-2">เพศ:</label>
                                                <div style="text-align: left" class="col-sm-4">{{Sex ? (Sex):'-'}}</div>
                                            </div>
                                            <div class="row" style="margin-top: -15px">
                                                <label style="font-weight: bold"  class="col-sm-2">อายุ:</label>
                                                <div class="col-sm-1">{{Age ? (Age):'-'}}</div>
                                                <label style="font-weight: bold;text-align: right"  class="col-sm-4">ยานพาหนะ:</label>
                                                <div class="col-sm-5">{{Car_band ? (Car_band):'-'}}</div>
                                            </div>
                                            <div class="row" style="margin-top: -15px">
                                                <label style="font-weight: bold"  class="col-sm-2">แขวง:</label>
                                                <div class="col-sm-4">{{Acc_subdist ? (Acc_subdist):'-'}}</div>
                                                <label style="font-weight: bold"  class="col-sm-2">เขต:</label>
                                                <div class="col-sm-4">{{Acc_dist ? (Acc_dist):'-'}}</div>
                                            </div>
                                            <div class="row" style="margin-top: -15px">
                                                <label style="font-weight: bold"  class="col-sm-2">ละติจูด:</label>
                                                <div class="col-sm-3">{{Acc_lat ? (Acc_lat.toFixed(6)):'-'}}</div>
                                                <label style="font-weight: bold;text-align: right"  class="col-sm-3">ลองติจูด:</label>
                                                <div class="col-sm-3">{{Acc_long ? (Acc_long.toFixed(6)):'-'}}</div>
                                            </div>
                                            <div class="row" style="margin-top: -15px">
                                                <label style="font-weight: bold"  class="col-sm-2">วัน:</label>
                                                <div class="col-sm-4">{{Acc_date ? (Acc_date):'-'}}</div>
                                                <label style="font-weight: bold" class="col-sm-2">เวลา:</label>
                                                <div class="col-sm-4">{{Acc_time ? (Acc_time):'-'}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </gmap-info-window>
                            </cluster>
                        </GmapMap>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
        <TableRisk></TableRisk>
        <Footer></Footer>
    </v-content>
</template>


<script>
    import Header from "../components/Header"
    import Footer from "../components/Footer"
    import {mapState, mapActions,mapMutations} from 'vuex'
    import TableRisk from "../components/TableRisk"
    import Loading from "vue-loading-overlay";
    // import GmapCustomMarker from 'vue2-gmap-custom-marker';

    export default {
        name: "Riskpoint",
        components: {
            Header,
            Footer,
            TableRisk,
            Loading,
            // 'gmap-custom-marker': GmapCustomMarker
        },
        data: () => ({
            ongmap: 1,
            isLoading: false,
            onlet: 13.785,
            onlng: 100.63,
            zoomsize: 12, // cluster limit zoom 17
            time: ['00:00','01:00','02:00','03:00','04:00','05:00','06:00','07:00','08:00','09:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00','22:00','23:00'],
            start_time: "",
            end_time: "",
            date: new Date().toISOString().substr(0, 10),
            start_date: "",
            end_date: "",
            menu: false,
            menu2: false,
            manydie: [1,2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
            manydieA: "",
            manydieB: "",
            start_die: 2,
            end_die: 20,
            district: "",
            alldata: "",
            alldatatest: "ดูทั้งหมด",
            fieldbangkok: ["ดูทั้งหมด","คลองสาน","คลองสามวา","คลองเตย","คันนายาว","จตุจักร","จอมทอง","ดอนเมือง","ดินแดง","ดุสิต","ตลิ่งชัน","ทวีวัฒนา","ทุ่งครุ","ธนบุรี","บางกอกน้อย","บางกอกใหญ่","บางกะปิ","บางขุนเทียน","บางคอแหลม","บางซื่อ","บางนา","บางบอน","บางพลัด","บางรัก","บางเขน","บางแค","บึงกุ่ม","ปทุมวัน","ประเวศ","ป้อมปราบศัตรูพ่าย","พญาไท","พระนคร","พระโขนง","ภาษีเจริญ","มีนบุรี","ยานนาวา","ราชเทวี","ราษฎร์บูรณะ","ลาดกระบัง","ลาดพร้าว","วังทองหลาง","วัฒนา","สวนหลวง","สะพานสูง","สัมพันธวงศ์","สาทร","สายไหม","หนองจอก","หนองแขม","หลักสี่","ห้วยขวาง"],
            icongmarker: [
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-01.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-02.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-03.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-04.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-05.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-06.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-07.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-08.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-09.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-10.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-11.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-12.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-13.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-14.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-15.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-16.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-17.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-18.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-19.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                    {url: 'http://rtiriskpoint.ddcmoph.com/img/1-20.png',
                        size: {width: 46,height: 46, f: 'px',b: 'px'},
                        scaledSize: {width: 30,height: 45, f: 'px',b: 'px'}},
                ],
            No: "",
            Sex: "",
            Age: "",
            Car_band: "",
            Acc_subdist: "",
            Acc_dist: "",
            Acc_lat: "",
            Acc_long: "",
            Acc_date: "",
            Acc_time: "",
            infowindow: {lat: 13.722556, lng: 100.746068},
            window_open: false,
        }),
        async created() {
            if (!this.selectedDistrict){
                await this.onGetAllRiskpoint();
            }
            // if (this.selectedDistrict) {
            //     this.district = this.selectedDistrict
            // }
        },
        computed: {
            ...mapState({
                allRiskpoint: state => state.riskpoint.allRiskpoint,
                allPatient: state => state.patient.allPatient,
                alldatachart: state => state.datachart.alldatachart,
                allPoint: state => state.allpoint.allPoint
            }),
            selectedDistrict: {
                get() {
                    return this.$store.state.riskpoint.selectedDistrict
                },
                set(value) {
                    this.onSetSelectedDistrict(value)
                }
            }
        },
        watch: {

            testday: function () {
              if (this.start_date && this.end_date){
                  let a = this.end_date
                  let b = this.start_date
                  console.log(a,b)
              }
            },
            accidentStartTime: function () {
                if (this.start_time && this.end_time) {
                    let a = this.start_time.substring(0,5)
                    let b = this.end_time.substring(0,5)
                    console.log(a,b)
                }
            },
            // accidentEndTime: function () {
            //     if (this.start && this.end) {
            //
            //         let a = parseInt(this.start.substring(0,2))
            //         let b = parseInt(this.end.substring(0,2))
            //         console.log(a,b)
            //         for (var i =0;i<10;i++) {
            //             let timedata = parseInt(this.allPatient.data[i]['accident_data'].substring(11,13))
            //             let timedatab = this.allPatient.data[1]['vehicle_type']
            //             let namedata = this.allPatient.data[0]['id']
            //             let namedata2 = this.allPatient.data[0]['latitude']
            //             console.log(timedata)
            //             console.log(timedatab)
            //             if (timedata >= a && timedata < b){
            //                 console.log(namedata)
            //             }else {
            //                 console.log(namedata2)
            //             }
            //         }
            //
            //
            //     }
            // }
        },
        methods: {
            ...mapActions('riskpoint', ['onGetAllRiskpoint','onGetRiskpointdatetime','onSetSelectedDistrict']),
            ...mapActions('patient', ['onGetPatient','onGetPatientdatetime']),
            ...mapActions('datachart', ['onGetDatachart']),
            ...mapActions('allpoint', ['onGetAllpointdatetime','onGetAllpoint']),
            ...mapMutations('riskpoint',['setSelectedDistrict','setAllRiskpoint']),
            onAllriskpointcluster() {
                this.ongmap = 3;
                this.zoomsize = 10;
            },
            onGmapcluster() {
                this.isLoading = true;
                this.ongmap = 2;
                this.zoomsize = 12;
                this.isLoading = false;
            },
            onGmapmarker() {
                this.ongmap = 1;
                this.zoomsize = 12;
            },
            onTable(id,location,centerlet,centerlng) {
                this.onGetPatient(id);
                this.$router.push({ name: 'Patient', params: {riskpoint : location,oncenterlet : centerlet , oncenterlng : centerlng } });
                // this.$router.push("/patient");

            },
            checkselectedDistrict(){
                let alldata = "ดูทั้งหมด";
                if (this.selectedDistrict == alldata){
                    // this.district = "";
                    this.zoomsize = 12;
                    this.onlet = 13.785;
                    this.onlng = 100.63;
                    // this.onGetAllRiskpoint();
                }
            },
            openWindow (acc_lat,acc_long,sex,age,car_band,acc_subdist,acc_dist,acc_date,acc_time) {
                this.infowindow = {lat: acc_lat, lng: acc_long};
                this.Sex = sex;
                this.Age = age;
                this.Car_band = car_band;
                this.Acc_subdist = acc_subdist;
                this.Acc_dist = acc_dist;
                this.Acc_lat = acc_lat;
                this.Acc_long = acc_long;
                this.Acc_date = acc_date;
                this.Acc_time = acc_time;
                this.window_open = true
            },
            async onSearch() {
                    this.isLoading = true;
                    console.log("District",this.selectedDistrict);

                    await this.checkselectedDistrict()
                    console.log(this.start_date);


                    var start_date = this.start_date;
                    var end_date = this.end_date;
                    var start_time = this.start_time;
                    var end_time = this.end_time;
                    var start_die = this.start_die;
                    var end_die = this.end_die;
                    var district = this.selectedDistrict;
                    if(district == "ดูทั้งหมด"){
                        district = "";
                    }

                    console.log(start_date)
                    console.log(end_date)
                    console.log(start_time)
                    console.log(end_time)
                    console.log(start_die)
                    console.log(end_die)
                    console.log(district)

                await this.onGetRiskpointdatetime({
                            start_date,
                            end_date,
                            start_time,
                            end_time,
                            start_die,
                            end_die,
                            district
                        });
                this.onGetAllpointdatetime({
                    start_date,
                    end_date,
                    start_time,
                    end_time,
                    start_die,
                    end_die,
                    district
                });
                    this.zoomsize = 12;
                    this.allRiskpoint.filter(item => {
                            if (this.selectedDistrict == item.subdistrict) {
                                this.onlet = parseFloat(item.latitude_center)
                                this.onlng = parseFloat(item.longitude_center)
                            }
                    });
                    this.isLoading = false;

                // this.onGetPatientdatetime({
                //         start_date,
                //         end_date,
                //         start_time,
                //         end_time,
                //         start_die,
                //         end_die,
                //         district
                //     });



            },
            Selectmin() {
                let b = this.manydie[this.manydie.length-1];
                this.manydieB = [];
                for (let i = 1;i <= b;i++) {
                    this.manydieB.push(i)
                }

            },
            Selectmax() {
                let b = this.end_die;
                this.manydieA = [];
                for (let i = 1;i <= b;i++) {
                    this.manydieA.push(i)
                }

            }
            // onselect(district) {
            //     this.zoomsize = 15;
            //     this.allRiskpoint.filter(item => {
            //         if (this.district == item.subdistrict) {
            //             this.onlet = parseFloat(item.latitude_center)
            //             console.log(item.latitude_center)
            //             this.onlng = parseFloat(item.longitude_center)
            //             console.log(item.longitude_center)
            //         }
            //     });
            // },


        }
    }
</script>

<style scoped>


</style>
